html {
    overflow: hidden;
}

.Opponent {
    animation: rotation 3s infinite linear;
    -webkit-animation: rotation 3s infinite linear;
}

.paused .Opponent {
    animation: none;
    -webkit-animation: none;
}

@keyframes rotation {           /* ALUMNA */
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}

.gamebutton {
    border: none;
    background: #ddd;
    color: #333;
    padding: 10px 20px;
    outline: none;
    font-family: monospace;
    cursor: pointer;
}

ul {                        /* ALUMNA */
    border: none;
    width: fit-content;
    background: #ddd;
    color: #333;
    padding: 10px 20px;
    outline: none;
    font-family: monospace;
    padding: 0.3em;
}

li {                        /* ALUMNA */
    list-style-type: none;
    font-size: large;
    font-weight: bold;
}
